<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <p>Tên của bạn: <input v-model="name"></p>
    <p>Giới tính:
        <select v-model="gender">
            <option value="">--------</option>
            <option value="M">Nam</option>
            <option value="F">Nữ</option>
        </select>
    </p>
    <p v-if=" gender=='M' ">Xin chào anh {{name}}</p>
    <p v-else-if=" gender=='F' ">Xin chào chị {{name}}</p>
    <p v-else>Xin chào {{name}}</p>
    <!--<p>Giới tính : {{gender}} </p>-->
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            name: '',
            gender: ''
        }
    })
</script>