<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <table>
        <tbody>
            <tr>
                <th>Đơn giá:</th>
                <td><input v-model="price" min="0" type="number"/></td>
            </tr>
            <tr>
                <th>Số lượng:</th>
                <td><input v-model="qty" min="0" type="number"/></td>
            </tr>
        </tbody>
    </table>
    <button @click="calcTotal()">Tính tiền</button>
    <label v-if="total">Số tiền : {{total}}</label>
</div>

<script>
    new Vue({
        el:'#app',
        methods: {
           calcTotal: function(){
               total = qty * price;
           } 
        },
        data: {price: null, qty: null, total: null}
    })
</script>
